nav.main-menu(role="menubar")

	.wrapper

		.main-menu__item.main-menu__item_icon_tv(role="menuitem")

			a.main-menu__item-link(href=jv0)
				| Телевидение

			.main-menu__item-count
				+advert-count(23)

		.main-menu__item.main-menu__item_icon_billboard(role="menuitem")

			a.main-menu__item-link(href=jv0)
				| Наружная реклама

			.main-menu__item-count
				+advert-count(567)

		.main-menu__item.main-menu__item_icon_radio(role="menuitem")

			a.main-menu__item-link(href=jv0)
				| Радио

			.main-menu__item-count
				+advert-count(11)

		.main-menu__item.main-menu__item_icon_newspaper(role="menuitem")

			a.main-menu__item-link(href=jv0)
				| Пресса

			.main-menu__item-count
				+advert-count(51)

		.main-menu__item.main-menu__item_icon_transport(role="menuitem")

			a.main-menu__item-link(href=jv0)
				| Транзитная реклама

			.main-menu__item-count
				+advert-count(14)

		.main-menu__item.main-menu__item_icon_internet(role="menuitem")

			a.main-menu__item-link(href=jv0)
				| Интернет реклама

			.main-menu__item-count
				+advert-count(92321)
