nav.menu

	ul

		li.menu__item
			a.menu__link.menu__link_lh_26(href=jv0)
				| Телевидение

		li.menu__item
			a.menu__link(href=jv0)
				| Наружная реклама

		li.menu__item
			a.menu__link.menu__link_lh_26(href=jv0)
				| Радио

		li.menu__item
			a.menu__link.menu__link_lh_26(href=jv0)
				| Пресса

		li.menu__item
			a.menu__link(href=jv0)
				| Транзитная реклама

		li.menu__item
			a.menu__link(href=jv0)
				| Интернет реклама
