nav.menu.wrapper(role="menubar")

	.menu__item.menu__item_icon_tv(role="menuitem")

		a.menu__item-link(href=jv0)
			| Телевидение

		.menu__item-count
			+advert-count(23)

	.menu__item.menu__item_icon_billboard(role="menuitem")

		a.menu__item-link(href=jv0)
			| Наружная реклама

		.menu__item-count
			+advert-count(567)

	.menu__item.menu__item_icon_radio(role="menuitem")

		a.menu__item-link(href=jv0)
			| Радио

		.menu__item-count
			+advert-count(11)

	.menu__item.menu__item_icon_newspaper(role="menuitem")

		a.menu__item-link(href=jv0)
			| Пресса

		.menu__item-count
			+advert-count(51)

	.menu__item.menu__item_icon_transport(role="menuitem")

		a.menu__item-link(href=jv0)
			| Транзитная реклама

		.menu__item-count
			+advert-count(14)

	.menu__item.menu__item_icon_internet(role="menuitem")

		a.menu__item-link(href=jv0)
			| Интернет реклама

		.menu__item-count
			+advert-count(92321)
