extends ../layouts/default

mixin row(obj)
	tr.cabinet__table-row.js-table-row
		td.cabinet__table-cell= obj.cell1
		td.cabinet__table-cell= obj.cell2
		td.cabinet__table-cell= obj.cell3
		td.cabinet__table-cell= obj.cell4

block head
	- var pageTitle ='Regions :: Cabinet';
	- var headerBanner = true;

block content
	.wrapper
		include ../blocks/menu
		h1.title__h1.title__h1_pb_20 Личный кабинет администратора
		.ionTabs#tabsCabinetMode(data-name="tabs_cabinet_mode")

			ul.tab.ionTabs__head
				li.tab__item.ionTabs__tab(data-target="tab_mode_admin") Режим администратора
				li.tab__item.ionTabs__tab(data-target="tab_mode_moder") Режим модератора

			.ionTabs__body

				.cabinet.container.container_pt_22.ionTabs__item(data-name="tab_mode_admin")

					.cabinet__header
						.cabinet__header-name Василий Табуреткин
						.cabinet__header-edit-btn
							button.button.button_width_100p(type="button") Редактировать профиль

					h2.title__h2.title__h2_pb_12 Список пользователей

					.content.content_height_415.content_width_440.float-l.js-scroll-cont

						table.cabinet__table
							thead
								tr
									th.cabinet__table-login
										input.chkb-text.chkb-text_fs_12.chkb-text_color_gray.chkb-text_arrow_left(
											id="login"
											type="checkbox"
											name="login"
											value="check")
										label(for="login") Логин

									th.cabinet__table-mail
										input.chkb-text.chkb-text_fs_12.chkb-text_color_gray.chkb-text_arrow_left(
											id="mail"
											type="checkbox"
											name="mail"
											value="check")
										label(for="mail") E-mail

									th.cabinet__table-data
										input.chkb-text.chkb-text_fs_12.chkb-text_color_gray.chkb-text_arrow_left(
											id="data"
											type="checkbox"
											name="data"
											value="check")
										label(for="data") Дата

									th.cabinet__table-type
										input.chkb-text.chkb-text_fs_12.chkb-text_color_gray.chkb-text_arrow_left(
											id="type"
											type="checkbox"
											name="type"
											value="check")
										label(for="type") Тип

							tbody
								- for (var i = 0; i < 32; i++)
									- var text = ''
									- if (i === 0)
										- text = 'администратор'

									- else if (i === 7)
										- text = 'модератор'

									- else
										- text = 'клиент'

									+row({
										cell1: "Testatest",
										cell2: "testatest@goo.ru",
										cell3: "11.02.13",
										cell4: text
									})

					.cabinet__add-btn
						button.button.button_type_add(type="button")

					.content.content_height_415.content_width_240.float-r

				.cabinet.container.ionTabs__item(data-name="tab_mode_moder")

					.cabinet__header
						.cabinet__header-name Иван Табуреткин
						.cabinet__header-edit-btn
							button.button.button_width_100p(type="button") Редактировать профиль

				.ionTabs__preloader
