extends ../layouts/default

block head
	- var pageTitle ='Regions :: Search';
	- var headerBanner = true;
	- var headerSearch = true;

block content
	include ../blocks/aside-advert
	.wrapper

		include ../blocks/result
		include ../blocks/search

		table.best-offers__table
			thead
				tr.best-offers__head-row
					th.best-offers__head-cell.best-offers__head-cell_span_3(colspan=2)
						input.chkb-text(id="check3" type="checkbox" name="title" value="check")
						label(for="check3") Наименование

					th.best-offers__head-cell
						| Описание

					th.best-offers__head-cell
						input.chkb-text(id="check4" type="checkbox" name="company" value="check")
						label(for="check4") Компания

					th.best-offers__head-cell
						input.chkb-text(id="check5" type="checkbox" name="price" value="check")
						label(for="check5") Стоимость

			tbody

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

				tr.offer-row.offer-row_page_search
					td
						.offer-row__img(role="img")
							img.offer-row__img-inner(
								src="assets/images/content/advert.jpg"
								alt="Изображение объекта")

						.advert__sidebar-options-btn
							button.button.button_color_green.button_type_icon.button_type_icon-home(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-price(type="button")
							button.button.button_color_green.button_type_icon.button_type_icon-add(type="button")

					td
						.offer-row__title Рекламный щит на «Рублевском шоссе»

							.advert__content-date
								span актуально до
								= " "
								time 23.01.2015

					td
						p.offer-row__text Тест маркетингового предлжения короткого, но информативного

					td
						a.offer-row__link.link(href=jv0) ООО «Италко»

					td
						.offer-row__price 1000 р./м2

		input.chkb-text(id="check6" type="checkbox" name="more" value="check")
		label(for="check6") Показать еще


