mixin jelect(options, items)
	- var activeItem, activeIndex;
	- each val, index in items
		- if (val[1])
			- activeItem = val[0];
			- activeIndex = index;

	.jelect(role="select")&attributes(attributes)
		input.jelect-input(
			type="text"
			id= options.id
			name= options.name
			value= activeIndex
			data-text= activeItem)

		.jelect-current(
			tabindex="0"
			role="button"
		)= activeItem

		ul.jelect-options

			- each val, index in items
				li.jelect-option(
					class= val[1] ? "jelect-option_state_active" : ""
					data-val= index
					tabindex="0"
					role="option"
				)= val[0]

